{% extends "mainweb/mainweb-base.html" %}

{% block additional_css_overrides %}
<style type="text/css">
  textarea{ height:42px; width:300px;}
</style>
{% endblock %}

{% block title %}Update Product Link{% endblock %}
{% block heading %}Update Product Link{% endblock %}
{% block inventory-tab %}active{% endblock %}


{% block form_submit_to %}{% url 'productlink_update' %}{% endblock %}
{% block add_website_form %}
    <table width="650">
      {{form.as_table}}
    </table>
    <input type="submit" class="btn btn-success" value="Update Product Link" />
 {% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="View Product Links" 
                onclick="window.location='{% url 'productlink_view' %}';"/>
{% endblock %}
