{% extends "mainweb/mainweb-base.html" %}

{% block title %}Product Links {{object.name}}{% endblock %}
{% block heading %}
	{% if object.active %} 
		<i class="fa fa-power-off fa-1x" style="color:green;"></i>
	{% else %}
		<i class="fa fa-power-off fa-1x" style="color:red;"></i>
	{% endif %}


Product Links: {{object.name}}{% endblock %}
{% block inventory-tab %}active{% endblock %}

{% block detail_view %}

	{% if object.logo %}
		<img src="{{object.logo}}" /><hr />
	{% endif %}
	<div style="width:300px;float:left;font-size:13px;">
    	<b>Product:</b> {{object.name}}<br /><br />
    	<b>Provider: </b> {{ object.provider.name }} <br />
    	<b>Category: </b> {{ object.category.name }}
    	<b>Active: </b> 
    	{% if object.active %}
	        <i class="fa fa-check fa-4x" style="color:green;"></i>
	        <!--span class="label label-success">Active</span-->
	      {% else %}
	      <i class="fa fa-check fa-4x" style="color:red;"></i>
	        <!--span class="label label-danger">Inactive</span-->
	    {% endif %}
    	<hr />
    	
    </div>
    <div style="width:400px;float:right;font-size:13px;">
    	<img src="{{object.thumb}}" />
    </div>

{% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Back to Product Links" 
                onclick="window.location='{% url 'productlinks_view' %}';"/>
{% endblock %}

