{% extends "mainweb/mainweb-base.html" %}

{% block title %}Websites{% endblock %}
{% block heading %}Websites{% endblock %}
{% block website-tab %}active{% endblock %}

{% block table_list %}

  <table class="table table-bordered" style="width:100%;">
    <tr><td>Domain</td><td>Active</td></tr>
    {% for i in object_list %}
    <tr>
      <td><a href="/mainweb/website/{{i.id}}">{{ i.domain }}</a> </td>
      <td>{% if i.active %}<span class="label label-success">Active</span>{% else %}<span class="label label-danger">Inactive</span>{% endif %} </td>
      
    </tr>
    {% endfor %}
   </table>

 {% endblock %}


 {% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Add Website" 
                onclick="window.location='{% url 'website_add' %}';"/>
{% endblock %}
