{% extends "mainweb/mainweb-base.html" %}

{% block title %}Websites{% endblock %}
{% block heading %}Websites{% endblock %}
{% block website-tab %}active{% endblock %}

{% block table_list %}

  <table class="table table-bordered table-striped" style="width:100%;">
      <tr><td></td><td></td><td>Domain</td><td>Notes</td></tr>
    {% for i in object_list %}
    <tr>
      <td><a href="{% url 'update_website' pk=i.id %}"><i class="fa fa-pencil"></i></a></td>
      <td>
      {% if i.active %}
        <i class="fa fa-power-off fa-1x" style="color:green;"></i>
        <!--span class="label label-success">Active</span-->
      {% else %}
      <i class="fa fa-power-off fa-1x" style="color:red;"></i>
        <!--span class="label label-danger">Inactive</span-->
      {% endif %} </td>
      <td><a href="/mainweb/website/{{i.id}}">{{ i.domain }}</a> </td>
      <td>{{i.notes}}</td>
    </tr>
    {% endfor %}
   </table>

 {% endblock %}


 {% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Add Website" 
                onclick="window.location='{% url 'website_add' %}';"/>
{% endblock %}
